<a href="https://colab.research.google.com/github/sim-mautner/cs1010-21t2/blob/main/tutes-and-labs/week5lab-solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 5 Lab (7 marks)

**IMPORTANT NOTE** If you're using Colaboratory, make sure you save a copy of these exercises to Google drive by clicking 'Copy to Drive' at the top of the page. Otherwise, your answers will not be saved.
The first exercises for this lab *can* be done in Colaboratory, but the last exercise requires you to implement a web server, so you will need to have Python running on your own computer for at least that exercise.

To get the marks for these tasks, you need to show your solutions to you lab demonstrater in either your week 5, 7, or 8 lab.

## Dictionaries (1 mark)

Write functions in the cells provided to answer the following questions.

### Dictionary Access

Write a function, `young_john(people)`, that returns `True` if the dictionary `people` contains the key `"John"` with a value of `19`. It should return `False` otherwise.

In [ ]:
def young_john(people):
  print(people)
  print(people.keys())
  # "John" in people ..... "John" in people.keys().... produce the same result
  if "John" in people.keys() and people["John"] == 19:
    return True
  return False

#young_john({ "Rob": 31, "Sarah": 24, "Chen": 20, "John": 19})

{'Rob': 31, 'Sarah': 24, 'Chen': 20, 'John': 19}
dict_keys(['Rob', 'Sarah', 'Chen', 'John'])

True

In [ ]:
# In the example above, why do we use square brackets around "John"?
lista = ['a','b','c']
print(lista[0])
dicta = { "Rob": 31, "Sarah": 24, "Chen": 20, "John": 19}
print(dicta["Rob"])

a
31

In [ ]:
def young_john(people):
  return "John" in people and people["John"] == 19

In [ ]:
def young_john(people):
  return people.get("John") == 19

Use this cell to test if your function works.

In [ ]:
assert young_john({ "Rob": 31, "Sarah": 24, "Chen": 20, "John": 19})
assert not young_john({ "Rob": 31, "Sarah": 19, "Chen": 20, "James": 22})
assert not young_john({ "Rob": 31, "Sarah": 24, "Chen": 20, "John": 23})

### Generalised card game

Consider a game where certain cards are worth a certain number of points. Write a function, `score(card_points, cards)`, that takes in a dictionary representing the points for each card and a list of strings and calculates the total score for that list. You can assume that if a card is not in `card_points`, it is not worth any points. Examples of how the function is used are in the testing cell below.

In [ ]:
def score(card_points, cards):
  # Go through each card in cards, and add the score for that card, to our total points.
  points = 0
  for card in cards:
    if card in card_points:
      points += card_points[card]
  return points

Use the cell below to test if your function works.

In [ ]:
assert score({"Ace": 5, "King": 3, "Queen": 2, "Jack": 1 },
             ["10", "Jack", "Ace", "King", "Queen", "King", "3"]) == 14
assert score({"Fire": 2, "Wind": 1, "Water": 1, "Earth": 3 },
             ["Fire", "Fire", "Wind", "Water", "Earth"]) == 9

## Nested Structures (1 mark)

The following dictionary contains some courses and the list of tutorials for each of them.

In [ ]:
first_year_courses = {"COMP1010": ["T15A", "T17A", "T18A"], 
                      "FINS1612": ["M11A", "W12A"], 
                      "FINS1613": ["T12A", "T12B", "F09A"], 
                      "ACCT1501": ["T10A", "F15A"], 
                      "INFS3605": ["M10A", "T15A", "W12A", "W12B"] }

What is the first tutorial for COMP1010?

In [ ]:
first_year_courses['COMP1010'][0]

'T15A'

Construct a list containing all the courses that have exactly 3 tutorials. You should get this as a result:
```["COMP1010", "FINS1613"]```

In [ ]:
three_tutorials = []
for course,tute_list in first_year_courses.items():
  if len(tute_list) == 3:
    three_tutorials.append(course)

print(three_tutorials)

['COMP1010', 'FINS1613']

Construct a list containing all the courses with a tutorial on a Tuesday (i.e. the tutorial code starts with a 'T'). You should get this as a result:
```
["COMP1010", "FINS1613", "ACCT1501", "INFS3605"]
```

**Hint**: Depending on how you approach this, you may need a nested loop.

In [ ]:
tues_tutorials = []
# check each course
for course,tute_list in first_year_courses.items():
  # check each tutorial for that course
  for tute in tute_list:
    # if it's a tuesday tutorial
    if tute[0] == 'T':
      # if that course isn't already in our list
      if course not in tues_tutorials:
        # add it to the list
        tues_tutorials.append(course)

tues_tutorials

['COMP1010', 'FINS1613', 'ACCT1501', 'INFS3605']

## While loops (1 mark)

Write a function, `odd_sum_while(n)` that computes all the positive *odd* numbers less than `n` with a `while` loop.

*Note*: You could do this with a `for` loop, but you should do it with a `while` loop for practice.

In [ ]:
def odd_sum_while(n):
  sum = 0
  while n > 0:
    # if n is odd, add it to the sum (using modulus operator)
    if n % 2 == 1:
      sum += n
    n -= 1
  return sum

In [ ]:
def odd_sum_while(n):
  sum = 0
  upto = 1
  while upto < n:
    sum += upto
    upto += 2 # adding 2 each time to keep upto odd, saves us checking if it's odd before adding it to the sum
  return sum

Use this cell to test whether you have implemented the function correctly.

In [ ]:
assert odd_sum_while(10) == 25

## Complex Data Structures (1 mark)

This data structure contains a series of courses. For each course, there are a list of its tutorials and its enrolments.

In [ ]:
unsw_courses = { 
    "COMP1010": { 
        "name": "Art of Computing", 
        "tutorials": [ 
            { "code": "T15A", "room": "Quad 1041" },
            { "code": "T17A", "room": "ASB 111" },
            { "code": "T18A", "room": "Goldstein G03" }
        ],
        "enrollments": [
            { "zid": "z1234567", "tutorial": "T15A" },
            { "zid": "z7654321", "tutorial": "T17A" },
            { "zid": "z1357246", "tutorial": "T15A" },
            { "zid": "z2461357", "tutorial": "T18A" }
        ]
    },
    "FINS1613": { 
        "name": "Business Finance", 
        "tutorials": [ 
            { "code": "M12A", "room": "ASB 302" },
            { "code": "H16B", "room": "J17 G12" }
        ],
        "enrollments": [
            { "zid": "z7654321", "tutorial": "M12A" },
            { "zid": "z1234567", "tutorial": "M12A" },
            { "zid": "z1357246", "tutorial": "H16B" }
        ]
    },
    "FINS1612": { 
        "name": "Capital Markets & Institution", 
        "tutorials": [ 
            { "code": "T11A", "room": "ASB 111" },
            { "code": "F11A", "room": "J17 G12" },
            { "code": "M09A", "room": "Goldstein G03" }
        ],
        "enrollments": [
            { "zid": "z1357246", "tutorial": "M09A" },
            { "zid": "z7654321", "tutorial": "T11A" },
            { "zid": "z1234567", "tutorial": "F11A" },
            { "zid": "z2461357", "tutorial": "F11A" }
        ]
    }
}

Write a function `timetable(zid)` that, given a student number returns the timetable of the student in the format shown in the test cell below.

**NOTE**: Your function should still work if new courses, tutorials or enrolments were added to the above data structure-- i.e. you shouldn't have any specific course or tutorial codes hardcoded in your solution.

In [ ]:
def timetable(zid):
  classes = {}
  # for each course, go through the enrollments, and find out if this student is enrolled
  for course,course_data in unsw_courses.items():
    #print(course)
    #print(course_data)
    #print(course_data["enrollments"])
    enrollments = course_data["enrollments"]
    for enrollment in enrollments:
      if enrollment['zid'] == zid:
        # if we get here, the student is in this course

        # get their tutorial time
        tutorial_code = enrollment["tutorial"]

        # go through the tutorials for that course, to find the room of their tutorial code
        tutorial_list = course_data["tutorials"]
        for tute in tutorial_list:
          if tute["code"] == tutorial_code:
            room = tute["room"]

        # add to classes list
        classes[course] = { "time": tutorial_code,
                              "room": room}

  #print(classes)
  return classes

#timetable('z1234567')

Use this cell to test if your function is correct.

In [ ]:
assert timetable('z1234567') == { 
    "COMP1010": { "time": "T15A", "room": "Quad 1041" },
    "FINS1613": { "time": "M12A", "room": "ASB 302" },
    "FINS1612": { "time": "F11A", "room": "J17 G12" }
}
assert timetable('z2461357') == { 
    "COMP1010": { "time": "T18A", "room": "Goldstein G03" },
    "FINS1612": { "time": "F11A", "room": "J17 G12" }
}

## More loops  (1 mark)

Given a list of numbers, you can compute a new list containing the *difference* between each element and its subsequent element. For example, given `[1, 2, 5, 3]`, the *difference* list would be `[1, 3, -2]`. Naturally, the new list has one less element than the original list.

Write a function `difference(numbers)` that computes the difference list for the argument `numbers`.

In [3]:
def difference(numbers):
  new_list = []
  for i in range(len(numbers)-1):
    new_list.append(numbers[i+1]-numbers[i])
  return new_list

#difference([1, 2, 5, 3])

Use this cell to test your function.

In [4]:
assert difference([1, 2, 5, 3]) == [1, 3, -2]
assert difference([3, 2, 567, 2, 45, 3, 7, 5]) == [-1, 565, -565, 43, -42, 4, -2]

Write another function, `final_difference(numbers)` that repeatedly applies `difference(numbers)` until only 1 number remains. That number is then returned.

In [5]:
def final_difference(numbers):
  while(len(numbers)>1):
    numbers = difference(numbers)
  return numbers[0]

Use this cell to test your function.

In [6]:
assert final_difference([1, 2, 5, 3]) == -7
assert final_difference([3, 2, 567, 2, 45, 3, 7, 5]) == -13382

## Program Composition (1 mark)

### Majority Vote
Create a function, `majority(votes)`, that returns the majority vote in a list. A majority vote is an element that occurs $> \frac{n}{2}$ times in a list (where $n$ is the length of the list). If there is no majority vote, the function should return `None`.

In [8]:
def majority(votes):
  '''
  {"A":2, "B":1}
  '''
  summary = {}
  for vote in votes:
    # If the vote isn't in our summary add it in
    if vote not in summary:
      summary[vote] = 0
    # Add one to that vote tally
    summary[vote] += 1

  for vote,num in summary.items():
    if num > len(votes)/2:
      return vote

  return None

Use this cell to test your function.

In [9]:
assert majority(["A", "A", "B"]) == "A"
assert majority(["pizza", "pizza", "pizza", "burger", "burrito", "pizza"]) == "pizza"
assert majority(["koala", "kangaroo", "kangaroo", "koala", "wombat", "wombat"]) == None
assert majority(["dogs", "cats", "dogs", "snakes"]) == None

### Grouping

Create a function, `group(strings)`, that groups strings by their first character. The argument `strings` is a list of strings and the returned grouping should be a list of lists. The function should preserve ordering as much as possible-- i.e. the first strings in all the sublists should be in the order they appear in the original list, as should the strings inside each sublist. See the test cell below for some examples.

In [12]:
def group(strings):
  groups = []
  for word in strings:

    # Try find an existing group for our word
    found = False
    for group in groups:
      # group[0][0] --> the first letter of the first word of that group
      if group[0][0] == word[0]:
        group.append(word)
        found = True

    # Have we added it? or do we need a new group?
    if found == False:
      # create a new group for our word
      groups.append([word])
      
  return groups

Use this cell to test if your function is correct

In [13]:
assert group(["hello", "goodbye", "hi", "goodness"]) == [["hello", "hi"], ["goodbye", "goodness"]]
assert group(["python", "java", "prolog", "purescript", "javascript", "haskell"]) == [["python", "prolog", "purescript"], ["java", "javascript"], ["haskell"]]

## Web Server (1 mark)

In a separate file, `text_server.py`, write a Flask web server that analyses text. On the main page have a textbox and a submit button. If the submit button is pressed, on the next page show an analysis of whatever was in the text box. This analysis should include: the number of characters (including spaces and punctuation), the number of characters (excluding punctuation), and the number of words. 

**Note**:
* All responses the server gives should be in HTML. You may wish to use this as an opportunity to familiarise yourself with HTML and PyHTML.
* You can use the web servers implemented in lectures as a guide to structuring your code.

## Challenge

**NOTE:** This question is **NOT** worth any marks and is meant to present a significant challenge. It's here for those who wish to extend themselves. Even if you're not able to solve it, you may find giving it a try good practice and you can always come back to it in later weeks.

The following cell constructs the map of "Romania" as a dictionary of dictioanries.

In [14]:
romania = {
    'Arad': { 'Zerind': 75, 'Sibiu': 140, 'Timisoara': 118 },
    'Zerind': { 'Arad': 75, 'Oradea': 71 },
    'Sibiu': { 'Arad': 140, 'Oradea': 151, 'Fagaras': 99, 'Rimnicu Vilcea': 80 },
    'Timisoara': { 'Arad': 118, 'Lugoj': 111 },
    'Oradea': { 'Zerind': 71, 'Sibiu': 151 },
    'Lugoj': { 'Timisoara': 111, 'Mehadia': 70 },
    'Fagaras': { 'Sibiu': 99, 'Bucharest': 211 },
    'Rimnicu Vilcea': { 'Sibiu': 80, 'Pitesti': 97, 'Craiova': 146 },
    'Mehadia': { 'Lugoj': 70, 'Dobreta': 75 },
    'Bucharest': { 'Fagaras': 211, 'Pitesti': 101, 'Urziceni': 85, 'Giurglu': 90 },
    'Pitesti': { 'Rimnicu Vilcea': 97, 'Bucharest': 101, 'Craiova': 138 },
    'Craiova': { 'Rimnicu Vilcea': 146, 'Pitesti': 138, 'Dobreta': 120 },
    'Dobreta': { 'Mehadia': 75, 'Craiova': 120 },
    'Urziceni': { 'Bucharest': 85, 'Hirsova': 98, 'Vaslui': 142 },
    'Giurglu': { 'Bucharest': 90 },
    'Hirsova': { 'Urziceni': 98, 'Eforie': 86 },
    'Vaslui': { 'Urziceni': 142, 'Lasi': 92 },
    'Eforie': { 'Hirsova': 86 },
    'Lasi': { 'Vaslui': 92, 'Neamt': 87 },
    'Neamt': { 'Lasi': 87 }
}

Write a function, `nearby(city)`, that returns a list containing all the cities within a 300 mile trip of the the given city, assuming you can only travel along the roads given.

In [18]:
def nearby(city):

  '''
  to_explore: all the cities we have reached (each city paired with how far we travelled to get there)
  explored: all the cities we have already explored (that means we've added their adjacent cities to our to_explore list) (all cities keep track of how far we travelled to get there)
  '''

  to_explore = {city:0}
  explored = {}

  while len(to_explore) > 0:
    # Get a city from to_explore
    current_city, current_distance = to_explore.popitem()

    for next_city,next_city_distance in romania[current_city].items():
      total_distance = current_distance + next_city_distance
      # - total_distance > 300 ... do nothing
      if total_distance <= 300:
        # - next_city has already been explored, in a shorter distance... do nothing
        if next_city in explored and total_distance < explored[next_city]:
          explored[next_city] = total_distance
        # - if next_city hasn't been explored... add to to_explore
        if next_city in to_explore and total_distance < to_explore[next_city]:
          to_explore[next_city] = total_distance
        if next_city not in explored and next_city not in to_explore:
          to_explore[next_city] = total_distance
    explored[current_city] = current_distance
  
  return explored

nearby('Pitesti')

{'Bucharest': 101,
 'Craiova': 138,
 'Dobreta': 258,
 'Fagaras': 276,
 'Giurglu': 191,
 'Hirsova': 284,
 'Pitesti': 0,
 'Rimnicu Vilcea': 97,
 'Sibiu': 177,
 'Urziceni': 186}