<a href="https://colab.research.google.com/github/sim-mautner/cs1010-21t2/blob/main/tutes-and-labs/week4lab-solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4 Lab (3 marks)

**IMPORTANT NOTE** If you're using Colaboratory, make sure you save a copy of these exercises to Google drive by clicking 'Copy to Drive' at the top of the page. Otherwise, your answers will not be saved.

## Set up Python and Visual Studio Code

If you haven't already, follow the instructions [here](https://webcms3.cse.unsw.edu.au/COMP1010/21T2/resources/61169) to set up Python and Visual Studio Code on your computer.

This task is worth no marks, but you will need it for this week's lecture and next week's tutorial and lab.

## Lists (0.5 marks)

Like with strings, Python features many operations that can be performed on lists. These include:

* Concatenating (joining together) them with `+`
* Replicating (repeating) them with `*`
* Indexing them with `[...]`

Use these operations on the following list to answer the questions below. They can all be solved **without** loops.

In [1]:
students = ["Sally Studies", "Penelope Prepares", "Francis Forgets", "David Doesn't-Read-Spec", "Oliver Overconfident", "Larry Leaves-It-To-The-Last-Minute"]

Who is the student at index 2?

In [3]:
students[2]

'Francis Forgets'

Replace "David Doesn't-Read-Spec" with a new student "Emily Eager".

In [4]:
students[3] = "Emily Eager"
students

['Sally Studies',
 'Penelope Prepares',
 'Francis Forgets',
 'Emily Eager',
 'Oliver Overconfident',
 'Larry Leaves-It-To-The-Last-Minute']

Create a new list with just the first two students repeated 2 times (i.e. `["Sally Studies", "Penelope Prepares", "Sally Studies", "Penelope Prepares"]`).

In [7]:
new_students = students[0:2] * 2
new_students

['Sally Studies', 'Penelope Prepares', 'Sally Studies', 'Penelope Prepares']

## For Loops (0.5 marks)

Write a function `one_word(words)` which takes in a list of strings and uses a `for... in...` loop to join all the words together in a single string (i.e. "correcthorsebatterystaple").

In [8]:
def one_word(words):
  result = ""
  for word in words:
    result += word
  return result

Use the cell below to test your code.

In [9]:
words = ["correct", "horse", "battery", "staple"]
assert(one_word(words)=="correcthorsebatterystaple")

Write a function `as_and_es(words)` which uses a loop to calculate $2a + e$ where $a$ is the number of times the letter "a" appears in all the words and $e$ is the number of times the letter "e" occurs.

In [10]:
def as_and_es(words):
  num_as = 0
  num_es = 0
  for word in words:
    num_as += word.count('a')
    num_es += word.count('e')
  return 2*num_as + num_es

In [12]:
def as_and_es(words):
  count = 0
  for word in words:
    count += 2*word.count('a')
    count += word.count('e')
  return count

In [14]:
def as_and_es(words):
  count = 0
  for word in words:
    for letter in word:
      if letter == 'a':
        count += 2
      if letter == 'e':
        count += 1
  return count

Use the cell below to test your code.

In [15]:
words = ["correct", "horse", "battery", "staple"]
assert(as_and_es(words)==8)

Write a function `big_sum(numbers)` which takes in a list of numbers and uses a for loop to compute the sum of all the numbers in the given list excluding any that are 13 or greater.

In [16]:
def big_sum(numbers):
  sum = 0
  for num in numbers:
    if num < 13:
      sum += num
  return sum

Use the cell below to test your code.

In [17]:
assert(big_sum([4 , 7 , 2, 13, 3, 5, 4, 12, 14]) == 37)

# Dictionaries (1 mark)

The following dictionary contains the number of enrolments in a variety of first-year courses.

In [18]:
first_year_courses = { "COMP1010": 45, "COMP1511": 560, "COMP1911": 100, "MATH1131": 1034, "MATH1231": 895, "FINS1612": 423, "FINS1613": 587, "ACCT1501": 327 }

How many students are enrolled in COMP1010?

In [19]:
first_year_courses['COMP1010']

45

Construct a list containing all the courses with more than 500 students. You should get this as a result:
```
["COMP1511", "MATH1131", "MATH1231", "FINS1613"]
```

In [20]:
big_courses = []
for course in first_year_courses:
  if first_year_courses[course] > 500:
    big_courses.append(course)
    
big_courses

['COMP1511', 'MATH1131', 'MATH1231', 'FINS1613']

In [22]:
big_courses = []
for course,num_students in first_year_courses.items():
  if num_students > 500:
    big_courses.append(course)

big_courses

['COMP1511', 'MATH1131', 'MATH1231', 'FINS1613']

What is .items() referring to?

In [23]:
# What is .items() referring to?
for item in first_year_courses.items():
  print(item)

('COMP1010', 45)
('COMP1511', 560)
('COMP1911', 100)
('MATH1131', 1034)
('MATH1231', 895)
('FINS1612', 423)
('FINS1613', 587)
('ACCT1501', 327)

In [27]:
for item in first_year_courses.items():
  #print(item[0])
  #print(item[1])
  print(item[0] + " has " + str(item[1]) + " students")

COMP1010 has 45 students
COMP1511 has 560 students
COMP1911 has 100 students
MATH1131 has 1034 students
MATH1231 has 895 students
FINS1612 has 423 students
FINS1613 has 587 students
ACCT1501 has 327 students

In [29]:
for item in first_year_courses.items():
  code,num_students = item
  print(code + " has " + str(num_students) + " students")

COMP1010 has 45 students
COMP1511 has 560 students
COMP1911 has 100 students
MATH1131 has 1034 students
MATH1231 has 895 students
FINS1612 has 423 students
FINS1613 has 587 students
ACCT1501 has 327 students

Find the total number of students enrolled in each subject area (the first 4 letters of the course code). Store these numbers in a dictionary. You should get this as a result:

```
{"COMP": 705, "MATH": 1929, "FINS": 1010, "ACCT": 327}
```

**NOTE**: Recall that dictionaries are unordered in this version of Python, so your result may not *appear* in exactly the same order as above, but as long as the numbers match, your result is correct.

In [32]:
subject_area_enrollments = {}
for code,num_students in first_year_courses.items():
  subject_area_code = code[0:4]
  # if it's not already in the dictionary
  if subject_area_code not in subject_area_enrollments.keys():
    subject_area_enrollments[subject_area_code] = num_students
  else: # if it was already there
    subject_area_enrollments[subject_area_code] += num_students
  
print(subject_area_enrollments)

{'COMP': 705, 'MATH': 1929, 'FINS': 1010, 'ACCT': 327}

In [33]:
subject_area_enrollments = {}
for code,num_students in first_year_courses.items():
  subject_area_code = code[0:4]
  # if it's not already in the dictionary, put it in with 0 students
  if subject_area_code not in subject_area_enrollments.keys():
    subject_area_enrollments[subject_area_code] = 0
  # add on the number of students we're up to
  subject_area_enrollments[subject_area_code] += num_students
  
print(subject_area_enrollments)

{'COMP': 705, 'MATH': 1929, 'FINS': 1010, 'ACCT': 327}

## Bringing it all together (1 mark)

Write a function, `common(list1, list2)`, that returns a dictionary. Each key in the dictionary corresponds to an element in *both* of the lists. The value for each key is the number of times that element appears across both lists. See the testing cell below for an example.

**HINT**: There are multiple ways to solve this, but you may find the simplest involves building at least two intermediate dictionaries and multiple loops.

In [40]:
def common(list1, list2):
  letters = {}
  for letter in list1:
    if letter in list2 and letter not in letters:
      # put in our dictionary {letter:x} where x is the number of times it occurs in list1 plus the number of times it occurs in list2
      letters[letter] = list1.count(letter) + list2.count(letter)
  #print(letters)
  return letters

Use this cell to test whether you have implemented the function correctly.

In [39]:
assert common(["a", "b", "a", "d", "f", "a"], ["a", "b", "d", "d", "e"]) == { "a": 4, "b": 2, "d": 3 }

{'a': 4, 'b': 2, 'd': 3}

## Challenge

**NOTE:** This question is **NOT** worth any marks and is meant to present a significant challenge. It's here for those who wish to extend themselves. Even if you're not able to solve it, you may find giving it a try good practice and you can always come back to it in later weeks.

Solve the problem described below:

> Oh no, there era grimlens (or parheps just eno nysta grimlen) in my cumpetor, semithong wierd is heppinang to my vewols! Thye seem to be ratetod thruogh aech word, aech eno rapleces the vewol to its left and the first eno mevos oruand to the last pisitoon. That's a tirryble creul thing to do.

In [2]:
def fix_vowels(text):
  result = ""

  for word in text.split():
    # Check capitalisation for example: Otter --> Ettor --> Otter
    capitalised = word[0].isupper()

    # Create a string of the vowels from the word
    vowels = ""
    for letter in word:
      if letter in 'aeiouyAEIOUY':
        vowels += letter
    # Rotate the vowels (put the last one at the front, and then have the rest)
    vowels = vowels[-1] + vowels[0:-1]

    # Construct fixed word
    fixed_word = ""
    for letter in word:
      if letter in 'aeiouyAEIOUY':
        # Get the next vowel (and then remove it from our vowels string)
        fixed_word += vowels[0]
        vowels = vowels[1:]
      else:
        fixed_word += letter
    
    # Capitalise if necessary
    if capitalised:
      fixed_word = fixed_word.capitalize()
    
    # Add our fixed word to our result
    result += fixed_word + ' '

  return result.strip()


fix_vowels("Oh no, there era grimlens (or parheps just eno nysta grimlen) in my cumpetor, semithong wierd is heppinang to my vewols! Thye seem to be ratetod thruogh aech word, aech eno rapleces the vewol to its left and the first eno mevos oruand to the last pisitoon. That's a tirryble creul thing to do.")

"Oh no, there are gremlins (or perhaps just one nasty gremlin) in my computer, something weird is happening to my vowels! They seem to be rotated through each word, each one replaces the vowel to its left and the first one moves around to the last position. That's a terribly cruel thing to do."